/* CSS files add styling rules to your content */
.content {
  max-width: 500px;
  font-family: helvetica, arial, sans-serif;
  font-size: 2em;
  margin: auto;
}

h1 {
  font-style: italic;
  color: #373fff;
}

textarea {
  font-style: bold;
  font-size: 1em;
  display: none;
}

div {
  font-style: italic;
  font-size: 1em;
  color: green;
}

input {
  display: block;
  margin: 0 auto;
  font-size: 4em;
}

#result {
  display: none;
}
