/* CSS files add styling rules to your content */
.content {
  max-width: 600px;
  font-family: helvetica, arial, sans-serif;
  font-size: 2em;
  margin: auto;
}

h1 {
  font-size: 2em;
  margin: 0 auto;
  font-style: italic;
  color: #373fff;
}

p {
  font-size: 50%;
  font-style: italic;
}

textarea {
  font-style: bold;
  font-size: 1em;
}

#numbers_div {
  font-style: bold;
}

#timer_div {
  font-style: italic;
  font-size: 50%;
  color: green;
}

input {
  display: block;
  margin: 0 auto;
  font-size: 4em;
}

#result {
  font-size: 25%;
}
