/* CSS files add styling rules to your content */
.content {
  max-width: 600px;
  font-family: helvetica, arial, sans-serif;
  font-size: 2em;
  margin: auto;
}

h1 {
  font-size: 2em;
  margin: 1em auto;
  font-style: italic;
  color: #373fff;
}

.info {
  font-size: 50%;
  font-style: italic;
  color: green;
}

textarea {
  font-style: bold;
  font-size: 1em;
}

#numbers_div {
  font-style: bold;
}

input[type="button"] {
  display: block;
  margin: 0 auto;
  font-size: 4em;
}