/* CSS files add styling rules to your content */
#content_d {
  max-width: 600px;
  font-family: helvetica, arial, sans-serif;
  font-size: 2em;
  margin: auto;
}

h1 {
  font-size: 2em;
  margin: 1em auto;
  font-style: italic;
  color: #373fff;
}

.info {
  font-size: 1em;
  font-style: italic;
  color: green;
}

#numbers_d {
  font-style: bold;
}

.number {
  font-size: 4em;
}

table {
  margin-left: auto;
  margin-right: auto;
}

.button {
  background-color: #4CAF50;
  /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  display: block;
  font-size: 2em;
  border-radius: 4px;
  margin: auto;
}
